@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
    user-select: none;
    height: 100dvh;
    background-color: #2a2726;
    visibility: none;
}
.main{
  width: 100vw;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.wrapper{
    width: 90%;
    max-width: 600px;
    border: 1px dotted #464558;
    background-color: #0f0f0f;
    border-radius: 7.5px 25px 25px 25px;
    padding: 20px;
    position: relative;
}
.head{
  padding: 0px 0px 20px 0px;
  font-weight: 300;
  font-size: 1.6rem;
  color: #d5d5d5;
  font-family: Poppins;
}
.head h6{
  font-size: .9rem;
  font-weight: 200;
}
.container {
    position: relative;
    display: flex;
    overflow-x: scroll;
    padding: 0px;
    background-color: transparent;
    border-radius: 10px;
    scroll-behavior: smooth;
}
.container::-webkit-scrollbar{
  display: none;
}
.leftArrow, .rightArrow{
  width: 40px;
  height: 40px;
  background-color: rgba(255,255,255,0.5);
  backdrop-filter: blur(10px);
  position: absolute;
  top: 52.5%;
  z-index: 2;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  border: 5px solid #0f0f0f;
}
.leftArrow{
  left: 0px;
  display: none;
}
.rightArrow{
  right: 0px;
}
.card{
    position: relative;
    flex: none;
    width: 100%;
    max-width: 200px;
    height: 250px;
    margin-inline: 5px;
    background-color: #007BFF;
    color: #d5d5d5;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 1.1em;
    object-fit: content;
    border-radius: 10px;
    overflow: hidden;
    transition: border-radius 0.2s linear;
}
.card:first-child{
  margin-left: 0px;
}
.card:last-child{
  margin-right: 0px;
}
.card .bottom{
  z-index: 1;
  height: 100%;
  width: 100%;
  font-size: .8rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 30px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6),rgba(0,0,0,0.3));
  transition: 
    background-image 0.2s linear,
    transform 0.25s linear;
}
.card .bottom:hover{
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7),rgba(0,0,0,0.5));
  transform: scale(1.03);
}
.card .bottom .open{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 
    background-color 0.25s linear,
    transform 0.25s linear,
    border 0.25s linear;
  padding: 10px 20px;
  border: 1px solid #ffffff43;
  border-radius: 5px;
  backdrop-filter: blur(15px);
}
.card .bottom .open:hover{
  background-color: seagreen;
  transform: translateY(-5px);
  border: 1px solid transparent;
}
.card .bottom a{
  pointer-events: none;
  color: white;
  font-family: Poppins;
  font-size: .75rem;
  text-decoration: none;
}
.card img{
  height: 120%;
  width: 120%;
  position: absolute;
  top: 0;
  object-fit: cover;
  z-index: 1;
}
