*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --back-color: #fff;
    --back-color-land: #f3f3f39d;
    --default-box: #ececec;
    --highlight-color: #bccff08d;
    --selectedBox-color: #88a7e9c3;
    --border: navy;
    --color: #090909;
    --active-B: navy;
    --active-C: white;
    --actBtn-B: navy;
    --actBtn-C: white;
    --Btn-B: #dadada;
    --Btn-C: #000;
    --NG-B: navy;
    --NG-C: #fff;
    --DFB: #ececec;
    --OPWB: rgba(0,0,0,0.15);
}
.darkTheme{
    --back-color: #202020;
    --back-color-land: #2323239d;
    --default-box: #000000;
    --border: #d4d4d4;
    --highlight-color: #356bc88d;
    --selectedBox-color: #193775;
    --active-B: #dadada;
    --active-C: black;
    --Btn-B: #000;
    --Btn-C: #dadada;
    --actBtn-B: #dadada;
    --actBtn-C: #000;
    --color: #dadada;
    --NG-B: #dadada;
    --NG-C: #000;
    --DFB: #000;
    --OPWB: rgba(0,0,0,0.8);
}
    
body{
    font-family: 'Lora';
    padding: 0px calc(100vw /10);
    display: flex;
    justify-content: center;
    user-select: none;
    background-color: var(--back-color);
    color: var(--color);
    transition: background-color 0.2s linear;
}
.box span{
    color: var(--color);
}
.highlight{
    background-color: var(--highlight-color);
}
.selectedBox{
    background-color: var(--selectedBox-color);
}
.head{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    padding: 20px 0px;
}
.right{
    display: flex;
    justify-content: center; 
    align-items: center;
}
.themeBtn{
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--NG-B);
    color: var(--NG-C);
    border-radius: calc(7.5rem/2);
    transition: transform 0.1s linear;
    margin-right: 10px;
}
.themeBtn span{
    display: flex;
    justify-content: center;
    align-items: center;
}
.right .newGame{
    width: 7rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--NG-B);
    color: var(--NG-C);
    border-radius: calc(7.5rem/2);
    transition: transform 0.1s linear;
}
.newGame:active{
    background-color: #000;
    color: #fff;
    transform: translate(-5px,0px);
}
.head h1{
   font-size: 2rem;   
}
.bottom{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.main{
    width: 100%;
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.grid{
    width: 100%;
    border: 2px solid var(--border);
}
.grid div{
  display: flex;
}
.grid div div{
    width: 100%;
    aspect-ratio: 1/1;
    border: 1px dotted var(--border);
    color: var(--color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
}
.default{
    background-color: var(--default-box);
}
.grid div div:nth-child(3){
    border-right: 2px solid var(--border);
}
.grid div div:nth-child(6){
    border-right: 2px solid var(--border);
}
.grid .R2{
    border-bottom: 2px solid var(--border);
}
.grid .R5{
    border-bottom: 2px solid var(--border);
}

.putValue{
    width: 100%;
    display: flex;
    background-color: var(--back-color);
    border:1.5px solid var(--color);
    margin: 20px 0px;
}
.putValue div{
  width: 100%; 
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--back-color);
  margin: 0px;
  border: 1px solid var(--border);
}
.box span{
    font-size: 7.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.controls .buttons{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px;
}

.btn{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
}

.remainHints{
    border-radius: 12px;
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    min-width: 24px;
    max-width: 24px;
    min-height: 24px;
    max-height: 24px;
    align-items: center;
    justify-content: center;
    background-color: var(--NG-B);
    color: var(--NG-C);
    transform: translate(6px,-6px);
}
.buttons button{
    background-color: var(--Btn-B);
    color: var(--Btn-C);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0px solid white;
    margin-bottom: 5px;
    transition: background-color 0.1s linear,scale 0.1s linear;
}
.buttons button:active{
    background-color: var(--actBtn-B);
    scale: 1.05;
    color: var(--actBtn-C);
}
.putValue div:active{
    background-color: var(--active-B);
    scale: 1.05;
    color: var(--active-C);
}
.openingWindow{
    width: 100vw;
    height: 100dvh;
    z-index: 1;
    background-color: var(--OPWB);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10vmin);
}
.selectDificulty{
    background-color: var(--back-color);
    color: var(--color);
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    transform: translate(0,50vh);
    transition: all 0.25s linear;
    opacity: 0;
    scale: 0;
}
.selectDificulty h3{
    font-size: 1.35rem;
}
.selectDificulty div{
    font-size: 0.9rem;
    height: 40px;
    width: 100%;
    padding: 0px 10px;
    border-radius: 5px;
    margin: 20px 0px 0px 0px;
    background-color: var(--DFB);
    color: var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s linear;
}
.selectDificulty div:active{
    background-color: var(--color);
    color: var(--DFB);
}
.selectDificulty span{
    margin-right: 5px;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 1s;
}
.Rules{
    font-size: 1rem;
    margin: 20px 0px;
}
.Rules h2{
    margin-bottom: 15px;
}
.Rules p{
    text-align: justify;
    line-height: 1.3rem;
    margin-bottom: 10px;
}

.DetailsElem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: 1rem;
}
@keyframes rotate{
    0{
        animation-timing-function: linear;
        rotate: 0deg;
    }100%{
        rotate: 360deg;
    }
}


@media screen and (width > 800px){
    .main{
        min-width: 800px;
        min-height: 100vh;
        padding: 0px 30px;
        background-color: var(--back-color-land);
    }
    .bottom{
        flex-direction: row;
        justify-content: space-between;
    }
    .grid{
        aspect-ratio: 1/1;
        background-color: var(--back-color);
        width: 115%;
        margin: 50px 0px;
        font-size: 1.15rem;
    }
    .controls{
        width: 100%;
        margin: 50px 0px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .putValue{
        min-width: 170px;
        max-width: 170px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .buttons{
        max-width: 170px;
    }
    .buttons button span{
        font-size: 1rem;
    }
    .remainHints{
       border-radius: 9px;
       position: absolute;
       display: flex;
       min-width: 18px;
       max-width: 18px;
       min-height: 18px;
       max-height: 18px;
       transform: translate(4.5px,-4.5px);
    }
    .btn{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    button{
        max-width: 35px;
        max-height: 35px;
    }
    .Rules{
        margin-top: 0px;
    }
    p{
        font-size: 0.9rem;
        
    }
    .DetailsElem{
        font-size: 10px;
    }
}