*{
  margin: 0px;
  padding: 0px;
}
@font-face{
  src: url(DMSans-Regular.ttf);
  font-family: DMSans-Regular; 
}
.main{
  font-family: "DMSans-Regular";
  padding: 25px;
  width: calc(100vw-25px);
  height: calc(100vh - 50px);
  background-color: rgba(50,50,50,1);
  color: white ;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.container{
  width: 310px;
  height: 590px;
  background-color: grey;
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px;
}
.addtask{
  width: 100px;
  height: 30px;
  background-color: rgb(100,100,100) ;
  border-radius: 5px;
  margin: 0px 0px 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#add{
  font-size: 17.5px;
}
.tasks{
  background-color: rgb(100,100,100);
  width: 310px;
  height: 520px;
  border-radius: 5px;
  padding-top: 20px;
  /* display: flex;
  align-items: center;
  flex-flow: column ; */
  overflow-y: scroll;
}

.task{
  background-color: aliceblue;
  height: 40px ;
  width: 270px;
  border-radius: 4px;
  margin-bottom: 20px;
  margin-left: 20px;
  display: flex;
  align-items: center ;
  justify-content: space-between;
}
h4{
  margin-bottom: 10px;
}
.headmytask{
  margin-left: 20px;
}
#delete{
  color: black;
  margin: 0px 15px 0px 15px;
  font-size: 17px;
  
}
input{
  outline: 0px;
  background-color: transparent;
  border: 0px solid grey;
  font-family: "DMSans-Regular";
  color: white;
  
}
::placeholder{
  color: white;
}
.tick{
  width: 20px;
  height: 20px;
  border: 1px solid grey;
  border-radius: 50%;
  margin: 0px 15px 0px 15px;
  background-color: white;
}
.tick::click{
  
}

.createtask{
  width: 200px;
  height: 30px;
  background-color: rgb(100,100,100);
  margin-left: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first{
  display: flex;
}
.taskdata{
  width: 175px;
  color: rgb(70,70,70);
  text-transform: capitalize;
}
.mainhead{
  transform: translateX(-100px);
}
.subhead{
  transform: translateX(-125px);
}
#done{
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
}
