*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "DMSans";
}
html{
  scroll-behavior: smooth;
}
@font-face{
  font-family: DMSans;
  src: url(DMSans-Regular.ttf);
}
.main{
  width: 100vw;
  height: 99vh;
  background-color: white;
  padding: 30px;
  display: flex;
  align-items: center;
  flex-flow: column;
  
}
.container{
  width: calc(100vw - 60px);
  height: 440px;
  background-image: linear-gradient(-45deg , navy, purple);
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-flow: column;
  overflow-y: scroll;
}

.cdd{
  background-color: navy;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: fixed;
  bottom: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 30px rgba(0,0,0,0.2);
  z-index: 2;
  transition: all 0.5s ease-in-out;
  color: white;
}

.cdd::hover{
  scale: 2;
}
.fwindow{
  background-color: navy;
  width: 125px;
  height: 45px;
  position: fixed ;
  bottom: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  clip-path: polygon(100% 0, 100% 80%, 60% 80%, 50% 100%, 40% 80%, 0% 80%, 0 0) ;
  animation-name: scale,fadeaway;
  animation-duration: 1s, 5s;
  animation-iteration-count: infinite , 1;
  transform: translateY(-210px);
  transition: all 0.5s ease-in-out;
  color: white;
  opacity: 1;
}
@keyframes scale{
  0%{
    scale: 1.05;
  }
  50%{
    scale: 0.95;
  }
  100%{
    scale: 1.05;
  }
}
@keyframes fadeaway{
  0%{
    opacity: 0;
  }
  15%{
    opacity: 1;
  }
  85%{
    opacity: 1;
  }
  100%{
    opacity: 1;
  }
}
.fade{
  margin-bottom: 5px;
}
h1, .mainh5{
  transform: translateX(-66px);
}
#addbtn{
  font-size: 40px;
  color: white;
  transition: all 1s ease-in-out;
  
}

.window-add{
  width: 300px;
  max-height: 420px;
  background-image: linear-gradient(-45deg , navy, purple);
  position: relative;
  top: 0px;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 30px rgba(0,0,0,0.25);
  color: white;
}
.inputdiv{
  max-height: 280px;
  display: flex;
  align-items: center;
  flex-flow: column;
  overflow-y: scroll;
  border-radius: 40px;
}
.window-main{
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(20px);
  background-color: rgba(0,0,0,0);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  z-index: 1;
  scale: 1;
  transform: translateX(-100vw);
  transition: all 0.5s ease-in-out;
}

.window-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  margin-bottom: 35px;
  margin-top: 15px;
}
.zeal{
  width: 30px;
  height: 30px;
  background-color: seagreen;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.indra{
  width: 30px;
  height: 30px;
  background-color: seagreen;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  
}
.window-head h4{
  font-size: 25px;
}
input{
  width: 220px;
  min-height: 35px;
  margin: 5px 0px;
  outline: 0px;
  padding: 0px 10px;
  font-family: "DMSans";
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 10px;
  font-weight: 650;
  color: rgb(80,80,80);
  border-radius: 15px;
}
.Task{
  background-color: rgba(130,0,130,0.8);
  width: calc(100% - 40px);
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  border-radius: 5px;
  margin: 10px 20px 10px 20px;
  
}
.taskData{
  max-width: 70%;
  color: black;
  padding: 5px 10px;
  margin: 10px;
  color: white;
}
.tick{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: aliceblue ;
}
#delete{
  color: white;
}
.MyTasks{
  height: 80%;
  width: 90%;
  padding: 15px 0px;
  overflow-y: scroll;
  background-color: rgba(0,0,0,0);
  background-image: url(/back.jpg);
  background-size: cover;
  background-blend-mode: lighten;
  border-radius: 10px;
  borderratop
}
.mytaskhead{
  margin: 15px 0px;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.clearTask{
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  border: 1px solid grey;
  border-radius: 20px;
  background-color: rgba(0,0,0,0.25);
  transition: all 0.25s ease-in-out;
  position: relative;
}
/* .clearwindow{
  position: fixed;
  top: 124px;
  right: 50px;
  width: 200px;
  height: 150px;
  background-color: navy;
  border-radius: 20px;
} */
.cleartaskin{
  width: 0px;
  height: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 100px;
  border-radius: 20px;
  background-color: rgba(225,225,225,0.5);
  transition: all 0.40s ease-in-out;
  position: absolute;
  top: 50%;
  right: 50%;
  backdrop-filter: blur(20px);
  color: black;
  overflow: hidden;
}
.clr2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.no{
  width: 60px;
  height: 40px;
  margin: 10px 5px;
  border: 0px;
  border-radius: 20px;
  background-color: red;
  color: white;
}
.yes{
  width: 60px;
  height: 40px;
  margin: 10px 5px;
  border: 0px;
  border-radius: 20px;
  background-color: seagreen;
  color: white;
  
}