*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "DMSans";
}
html{
  scroll-behavior: smooth;
}
@font-face{
  font-family: DMSans;
  src: url(DMSans-Regular.ttf);
}
.main{
  width: 100vw;
  height: 99.9vh;
  background-color: aliceblue;
  padding: 30px;
  display: flex;
  align-items: center;
  flex-flow: column;
  
}
.container{
  width: calc(100vw - 60px);
  min-height: 440px;
  background-color: rgb(245,245,245);
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  padding: 30px;
}

.cdd{
  background-color: aliceblue;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: fixed;
  bottom: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 30px rgba(0,0,0,0.2);
  z-index: 2;
  transition: all 0.5s ease;
}
.cdd::hover{
  scale: 2;
}
.fwindow{
  background-color: rgb(200,200,200);
  width: 125px;
  height: 45px;
  position: fixed ;
  bottom: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  clip-path: polygon(100% 0, 100% 80%, 60% 80%, 50% 100%, 40% 80%, 0% 80%, 0 0) ;
  animation-name: scale,fadeaway;
  animation-duration: 1s, 5s;
  animation-iteration-count: infinite , 1;
  transform: translateY(-210px);
  transition: all 0.5s ease;
}
@keyframes scale{
  0%{
    scale: 1.05;
  }
  50%{
    scale: 0.95;
  }
  100%{
    scale: 1.05;
  }
}
@keyframes fadeaway{
  0%{
    opacity: 0;
  }
  15%{
    opacity: 1;
  }
  85%{
    opacity: 1;
  }
  100%{
    opacity: 1;
  }
}
.fade{
  margin-bottom: 5px;
}
h1, .mainh5{
  transform: translateX(-66px);
}
#addbtn{
  font-size: 40px;
  color: rgba(0,0,0,0.5);
}

.window-add{
  width: 300px;
  max-height: 400px;
  background-image: linear-gradient(-45deg , navy, purple);
  position: relative;
  top: 0px;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 30px rgba(0,0,0,0.25);
  color: white;
}
.inputdiv{
  max-height: 300px;
  display: flex;
  align-items: center;
  flex-flow: column;
  overflow-y: scroll;
  border-radius: 40px;
}
.window-main{
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(20px);
  background-color: rgba(0,0,0,0);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  z-index: 1;
  scale: 1;
  transform: translateX(-100vw);
  transition: transform 0.75s;
}

.window-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  margin-bottom: 20px;
}
.zeal{
  width: 30px;
  height: 30px;
  background-color: seagreen;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.indra{
  
}
.window-head h4{
  font-size: 25px;
}
input{
  width: 220px;
  min-height: 35px;
  margin: 5px 0px;
  outline: 0px;
  padding: 0px 10px;
  font-family: "DMSans";
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 10px;
  font-weight: 650;
  color: rgb(80,80,80);
  border-radius: 15px;
}
.Task{
  background-color: grey;
  width: 300px;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  border-radius: 5px;
}
.taskData{
  width: 200px;
  color: white;
  padding-left: 15px;
}
.tick{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: aliceblue ;
}
#delete{
  color: white;
}