
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto Mono";
  scroll-behavior: smooth;
}
body{
  padding: 20px 15px;
  font-weight: 400;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #0f0f0fcf;
  color: white;
}
.test{
  width: 100%;
  max-width: 600px;
  text-align: center;
  margin: 30px 0px;
}

.span{
  color: grey;
  display: inline-block;
  text-align: center;
  transition: left 0.1s linear;
}
.spanC{
  color: white;
  display: inline-block;
  text-align: center;
  transition: left 0.1s linear;
}
.spanI{
  color: brown;
  display: inline-block;
  text-align: center;
  transition: left 0.1s linear;
}

input{
  width: 170px;
  outline: none;
  opacity: 1;
  position: fixed;
  border: 0px solid black;
  border-radius: 5px;
  position: fixed;
  text-align: center;
  transform: translate(0%, 0);
  transition: all 0.1s linear;
  z-index: 2;
  font-size: 12px;
}

.custom-para{
  background-color: white;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 20px 20px 30px rgba(0,0,0,0.1);
  text-align: center;
}
.refresh {
  margin: 0px 0px 30px 0px;
}
.text{
  color: white;
  font-family: "Roboto Mono;
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  flex-wrap: wrap;
  filter: blur(10px);
}
.text h4{
  text-align: left;
}
.character{
  width: 100px;
  transition: all 20 ease;
  font-size: 25px;
  padding: 1px;
}
.result {
  width: 100%;
  border-radius: 20px;
  background-color: #e5e5e541;
  border: 2px solid white;
  backdrop-filter: blur(10px);
  padding: 50px 0px;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.word{
  margin: 0px 4px;
  color: grey;
  transition: all 0.1s linear;
}
.border{
  width: 1px;
  background-color: orange;
  position: fixed;
  left: 0px;
  transition: all 0.15s linear;
}
h2{
  font-family: ;
}
select{
  background-color: transparent;
  color: white;
  outline: none;
  width: 100px ;
  height: 30px;
  padding: 5px;
  border-radius: 10px;
  font-family: "Roboto Mono";
}
.head{
  width: 100%;
  display: flex;
  padding: 20px 5px;
}
.high{
 color: orange;
 width: 100%;
}
.text h4{
  text-align: center;
  width: 100%;
}

.load{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  backdrop-filter: blur(20px);
  background-color: #ffffff39;
  width: 100vw;
  height: 100vh;
  z-index: 3;
}

.result div{
  width: 90%;
  display: flex;
  justify-content: center;
  text-align: left;
  margin: 0px auto;
}
.result div span{
  width: 100%;
}
.result div span:nth-child(1){
  text-align: right;
  padding-right: 10px;
}

