*{
  margin:0px ;
  padding: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins:wght@300&display=swap');
.main{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  background-image: linear-gradient(-45deg, #ffcdb2, #ffe4d9);
}
.container{
  width: 285px;
  height: 450px;
  border: 1px solid rgba(0,0,0,0.25);
  border-radius: 10px;
  background-image: linear-gradient(-45deg, #ffddff, #ffddcc);
  opacity: 1;
  font-family: 'Poppins';
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  box-shadow: 10px 10px 30px rgba(0,0,0,0.25);
  
}
input{
  height: 30px;
  width: 150px;
  outline: 0px;
  margin-right: 10px;
  padding-left: 15px;
  border-radius: 15px;
  border: 1px solid grey;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 10px;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.05);
  background-color: rgba(255,255,255,0.5);
}
.temp{
  width: 55%;
  height: 40%;
  border-radius: 2.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  color: rgba(0,0,0,0.65);
  text-transform: capitalize;
}
.temp span{
  font-size: 50px;
}
.temp h1{
  font-size: 30px;
  animation: fadeIn 1s;
}
.temp h2{
  font-size: 12.5px;
}
#search{
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 15px;
}
#search span{
  background-color: rgba(255,255,255,0.5);
  font-size: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  opacity: 1;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.05);
}
h3{
  opacity: 0.75; 
  font-size: 25px;
  font-family: "Poppins";
}
.wet{
  height: 40px;
  width: 117.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 45px;
  border: 1px solid grey;
  border-radius: 5px;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.other{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.wind{
  background-color: rgba(0,0,255,0.15);
  height: 50px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
#wind{
  font-size: 30px;
  opacity: 0.75;
  margin-right: 20px;
}
#humidity{
  font-size: 30px;
  opacity: 0.75;
  margin-right: 20px;
}

.wind-data{
  font-family: "Poppins";
  font-weight: 600;
}
.humidity-data{
  font-family: "Poppins";
  font-weight: 600;
}

.humidity{
  background-color: rgba(0,255,255,0.15);
  height: 50px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clear{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 27.5px;
  width: 65px;
  border: 1px solid grey;
  border-radius: calc(27.5px/2);
  margin-top: 27.5px;
}

