<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#2a2726"/>
    <title>Indra's_Projects</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main">
      <div class="wrapper">
        <div class="head">
<!--            <p>Projects</p> -->
           <p>Indra</p>
           <h6>Front-End Engineer</h6>
        </div>
        <div class="leftArrow btn">
          <span class="material-symbols-outlined">
chevron_left
</span>
        </div>
        <div class="rightArrow btn">
          <span class="material-symbols-outlined">
chevron_right
</span>
        </div>
    <div class="container">
         <div class="card">
          <img src="/images/sudoku.webp" alt="tic" />
          <div class="bottom">
             <div class="open">
                  <a href="sudoku">Sudoku</a>
                  <span class="material-symbols-outlined">web_traffic</span>
             </div>
          </div>
        </div>
        <div class="card">
          <img src="/images/typing.webp" alt="" />
          <div class="bottom">
             <div class="open">
                  <a href="typing">Typing Test</a>
                  <span class="material-symbols-outlined">web_traffic</span>
             </div>
          </div>
        </div>
        <div class="card">
          <img src="/images/weather.webp" alt="" />
          <div class="bottom">
             <div class="open">
                  <a href="weather">Weather</a>
                  <span class="material-symbols-outlined">web_traffic</span>
             </div>
          </div>
        </div>
        <div class="card">
          <img src="/images/translate.webp" alt="" />
          <div class="bottom">
             <div class="open">
                  <a href="Translate">Translate</a>
                  <span class="material-symbols-outlined">web_traffic</span>
             </div>
          </div>
        </div>
        <div class="card">
          <img src="/images/calculator.webp" alt="" />
          <div class="bottom">
             <div class="open">
                  <a href="calculator">Calculator</a>
                  <span class="material-symbols-outlined">web_traffic</span>
             </div>
          </div>
        </div>
        <div class="card">
          <img src="/images/todo.webp" alt="" />
          <div class="bottom">
             <div class="open">
                  <a href="todo2">ToDo</a>
                  <span class="material-symbols-outlined">web_traffic</span>
             </div>
          </div>
        </div>
        <div class="card">
          <img src="/images/tic.webp" alt="tic" />
            <div class="bottom">
                <div class="open">
                  <a href="tictactoe">TicTacToe</a>
                  <span class="material-symbols-outlined">web_traffic</span>
               </div>
            </div>
        </div>
        <div class="card">
          <img src="/images/snake.webp" alt="tic" />
            <div class="bottom">
                <div class="open">
                  <a href="snake" alt="snake image">Snake</a>
                  <span class="material-symbols-outlined">web_traffic</span>
               </div>
            </div>
        </div>
        <div class="card">
          <img src="/images/pong.webp" alt="tic" />
            <div class="bottom">
                <div class="open">
                  <a href="pong" alt="">Pong</a>
                  <span class="material-symbols-outlined">web_traffic</span>
               </div>
            </div>
        </div>
    </div>
      </div>
    </div>

    <script src="/js/script.js"></script>
</body>
</html>
