*{
  margin:0px ;
  padding: 0px;
  box-sizing: border-box;
  -webkit-user-select: none;
  font-family: Poppins;
}
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins:wght@300&display=swap');

.main{
  width: 80%;
  min-width: 250px;
  max-width: 350px;
  min-height: 100dvh;
  margin-inline: auto;
  display: flex;
  align-items: center;
  padding: 20px;
}

.container{
  background-color: #f3f3f3;
  width: 100%;
  padding: 30px;
  border-radius: 5px 40px 40px 40px;
  display: grid;
  grid-template-rows: repeat(4,auto);
  grid-row-gap: 20px;
}
.head{
  width: 100%;
  font-size: 1.5rem;
}
#search{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 10px;
}
#search input{
  min-width: 40px;
  max-width: 100%;
  padding: 0px 15px;
  border-radius: calc(45px /2 );
  border: 0px;
  outline: none;
}
#search div{
  background-color: white;
  height: 45px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.2rem;
}

#wicon{
  font-size: 2rem;
}
  
  
.other{
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-row-gap: 20px;
}
.other .details{
  background-color: white;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  padding: 15px;
  border-radius: 10px;
}


.rotate {
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}